<section class="trips-section">
  <a href="/trips/add" class="link">
    <i class="fas fa-plus add addOrange"></i>
  </a>
  <h2>
    <span class="oLight">My</span>
    <span class="pLight">Trips</span>
  </h2>


  <div class="trips">
    <% trips.forEach((trip)=> { %>
      <div class="trip">
        <h3 class="trip_heading">
          <%= trip.tripName %>
        </h3>
        <p class="trip_dates">
          <%= trip.tripDates %>
        </p>
        <div class="cities">
          <% trip.cities.forEach((city)=> {%>
            <p class="city">
              <%= city %>
            </p>
            <% }) %>
        </div>
        <a href="/trips/<%= trip._id%>" class="btn btnOrange link u-margin-right-sm">See trip</a>
        <a href="/trips/<%= trip._id%>/edit" class="btn btnOrange link u-margin-right-sm">Update</a>
        <div class="form form-delete">
          <form action="/trips/<%= trip._id%>/?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btnOrange u-margin-top-sm">
          </form>
        </div>
      </div>
      <% }) %>
  </div>


  </div>

</section>